*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.header{
    background: url(images/bg-hero-desktop.svg);
    object-fit: cover;
    margin-bottom: 100px;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.nav-button{
    padding: .5rem 1.5rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 5px;
    font-family: 'open sans', sans-serif;
    cursor: pointer;
}
.header-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header-text{
    max-width: 350px;
}
.header-text h2{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    padding: 25px 0;
}
.header-text p{
    font-size: .80rem;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px;

}
.header-button{
    color: #fff;
    padding: .5rem 1.75rem;
    font-size: .85rem;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
    border: none;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
}
.header-button:hover, .header-button:active{
    background-color: hsl(322, 100%, 75%);
}
.header-image-container{
    width: 50%;
}
.header-image{
    width: 100%;
}

/* Grow Together */
.growtogether{
    margin-bottom: 100px;
}
.border-container{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 6px;
    padding: 25px 0;
}
.grow-together{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
}
.text{
    max-width: 400px;
    margin: 0 auto;
}
.text h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 20px;
}
.text p{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    color: hsl(208, 11%, 55%);
    
}
.img-container{
    width: 45%;
}
.grow-together-img{
    width: 100%;
}

/* Flow Conversation */
.flowconversation{
    margin-bottom: 100px;
}
.flow-conversation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 50px;
}
.flow-img{
    width: 100%;
}

/* Your User */
.youruser{
    margin-bottom: 100px;
}
.your-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 50px;
}
.user-img{
    width: 100%;
}

/* community */
.container-2{
    background-color: #fff;
    position: relative;
    bottom: -35px;
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px;
}
.community-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 2rem 0;
}
.community-main h2{
    font-family: 'Poppins',sans-serif;
}
.community-button{
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-size: .85rem;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
.community-button:hover{
    cursor: pointer;
    background-color:hsl(322, 100%, 75%);
}

/* Footer */

.footer{
    color: white;
    background-color:hsl(192, 100%, 9%);
    padding: 70px 0;
    font-family: 'Open Sans',sans-serif ;
}
.footer-list{
    display: flex;
    justify-content: space-between;
}
li{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
}
.social-img + .social-img {
    margin-left: 10px;
}
.footer-main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.colored-svg {
    filter: invert(50%) brightness(200%);
  }

  /* Mobile */

  @media (max-width:768px){
    .header{
        background: url(images/bg-hero-mobile.svg);
    }
  }